{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Menu{% endblock %}</h1>

{% endblock %}

{% block content %}

    {% if g.user %}
    <h2>Administrator</h2>
    <h2>Hello {{ g.user['firstName'] }}</h2>

    <h4>Select from the following options</h4>


    <li><a href="{{ url_for('test_user_index.adminPageInfect') }}">Mark a user infected</a>
    <li><a href="{{ url_for('test_user_index.adminLocProb') }}">Change the transmission probability for a location</a>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>

  {% endif %}
{% endblock %}