{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Menu{% endblock %}</h1>

{% endblock %}

{% block content %}

    {% if g.user %}
    <h2>Administrator</h2>
    <h2>Hello {{ g.user['firstName'] }}</h2>

    <h4>Select from the following options</h4>


    <li><a href="{{ url_for('test_user_index.adminPageInfect') }}">Mark a user infected</a>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
<!---
 <form method="post">
        Select location and rate <SELECT name="location">
        {% for u in locationList %}
	    <OPTION value={{u.name}}>{{u.name}}</option>
        {% endfor %}
        </SELECT><br>
        <input type=""  name="vehicle3" value="0">
        <input type="submit" value="Submit NEW INFECTION RATE">
    </form>
  {% endif %}
--->
{% endblock %}