{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ADMIN MENU{% endblock %}</h1>

{% endblock %}

{% block content %}

    {% if g.user %}
    <h2>Administrator</h2>
    <h2>Hello {{ g.user['firstName'] }}</h2>

    <h4>Here you can change the probability of infection based on location</h4>


 <form method="post">
        Select location<SELECT name ="location">

        {% for loc in locationList %}
	    <OPTION value={{ loc.name }}>{{ loc.name }}</option>
        {% endfor %}}
        </SELECT><br>

        Select the percent probability of infection for this location <SELECT name="prob">
        {% for x in percents %}
	    <OPTION value={{ x }}>{{ x }}{{"%"}}</option>
        {% endfor %}
        </SELECT><br>

        <input type="submit" value="Submit">
    </form>
  {% endif %}

{% endblock %}