{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}USER MENU{% endblock %}</h1>

{% endblock %}

{% block content %}

    {% if g.user %}
    <h2 style="color:#E9F7DE;">Administrator</h2>
    <h2 style="color:#E9F7DE;">Hello {{ g.user['firstName'] }}</h2>

    <h4 style="color:#E9F7DE;">Here you can change the infections status for one of the people currently in the database</h4>

    <form method="post" style="color:#E9F7DE;">
        Select a user to change infected status <SELECT name="user">
        {% for u in userList %}

	    <OPTION value={{u.username}}>{{u.firstName + " " + u.lastName}}</option>
        {% endfor %}
        </SELECT><br>
        <input type="submit" value="Submit NEW INFECTED USER">
    </form>

 <form method="post" style="color:#E9F7DE;">
        Select location and rate <SELECT name="location">
        {% for u in locationList %}
	    <OPTION value={{u.name}}>{{u.name}}</option>
        {% endfor %}
        </SELECT><br>
        <input type=""  name="vehicle3" value="0">
        <input type="submit" value="Submit NEW INFECTION RATE">
    </form>
  {% endif %}

{% endblock %}