{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}USER MENU{% endblock %}</h1>

{% endblock %}

{% block content %}

    {% if g.user %}
    <h2>Administrator</h2>
    <h2>Hello {{ g.user['firstName'] }}</h2>

    <h4>Here you can change the infections status for one of the people currently in the database</h4>

    <form method="post">
        Select a user to change infected status <SELECT name="user">
        {% for u in userList %}

	    <OPTION value={{u.username}}>{{u.firstName + " " + u.lastName}}</option>
        {% endfor %}
        </SELECT><br>

        <input type="submit" value="Submit">
    </form>
  {% endif %}

{% endblock %}